.App {
  text-align: center;
}

.card {
  position: relative;
  width: 40%;
  height: 70%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 1%;
  padding: 20px;
}

.card img {
  width: 100px;
  height: 100px;
  color: white;
}

.main-container img {
  width: 70px;
  height: 70px;
  animation: ScaleImage 1s infinite;
}


@keyframes ScaleImage {
  from {
    transform: scale(0.5,0.5);
  }
  to {
    transform: scale(1,1);
  }
}

.loader-container {
  margin: 15%;
}

.title {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
}
.search-form {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-form input {
  width: 90%;
  height: 40px;
  padding: 5px;
  border: 1px solid #000000;
  background: #e9e4e4;
  color: rgb(22, 21, 21);
  border-radius: 10px;
  margin: 0 auto;
  font-size: 18px;

}

.search-form button {
  margin-left: 10px;
  width: 30px;
  height: 50px;
  width: 30%;
  padding: 5px;
  border: none;
  border-radius: 10px !important;
  background:  #b9c7e2;
  font-weight: 400;
  font-size: 20px;
  color: rgb(4, 56, 104);
  cursor: pointer;
}
.search-form button:hover {
  background: rgb(4, 56, 104);
   color: #f7f3f3;
}
.main-container {
  width: 100%;
  height: auto;
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.main-container h4 {
  font-size: 25px;
  font-weight: 800;
}


@media only screen and (min-width: 600px) {
  .search-form input {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .search-form input {
    width: 70%;
  }
}
@media only screen and (min-width: 768px){
  .search-form input {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .search-form input {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .search-form input {
      width: 90%;
  }
}

.temperature h1 {
  font-size: 30px;
  font-weight: 900;
}

.location h3 i {
  margin-right: 10px;
  animation: locationicon 2s infinite;
}


.loader-container {
  margin: 15%;
} 